@model Entity.Models.ClientSideErrors.ClientSideJavaScriptException

@{
    Layout = null;
}

@{
    ViewBag.Title = "Screensshot";
}

<div>
    <img src='@Model.Screenshot' style="margin:0 auto;display:block;width:80%;height:80%"/>
</div>