/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.TableTools_collection
{
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    z-index: 999999;
    padding: 0px 5px 0 5px;
}

.TableTools_collection li {border-top:1px solid #e1e1e1}

.TableTools_collection li:hover {
    background: #F2F2F2;
    color: #222;
}

.table-striped>tbody>tr:nth-child(even).row_selected>td{
	background-color: #B0BED9;
}

.table-striped>tbody>tr:nth-child(odd).row_selected>td{
	background-color: #B0BED9;
}

.table-striped>tbody>tr:nth-child(even).row_selected:hover{
	background-color: #000000;
}

.table-striped>tbody>tr:nth-child(odd).row_selected:hover{
	background-color: #000000;
}
